@font-face {
    font-family: "helvetica-now";
    src: url("fonts/HelveticaNowText-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "montefiore-regular";
    src: url("fonts/montefiore-condensed-regular.woff.ttf") format("truetype");
}

:root {
    /* COLORS */
    --darkBlue: #2B3A55;
    --green: #2AA784;
    --pink: #F6B2BB;
    /* FONTS */
    --helvetica: "helvetica-now";
    --montefiore: "montefiore-regular"
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #2AA784;
    font-family: var(--helvetica);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.montefiore {
    font-family: var(--montefiore);
}

.logo_text {
    color: var(--darkBlue);
    font-size: 60px;
    letter-spacing: 2px;
    text-align: center;
}

.logo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 50%;
}

.logo_img {
    width: 100%;
}

.img_container {
    /* width: 50%; */
    height: 50%;
}

.img {
    height:100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.QR {
    background-image: url('images/Scanna\ QR-koden\ för\ att\ lämna\ ditt\ bidrag!1.png');
}

.MH {
    background-image: url('images/MH\ Sticker\ Vi\ stödjer\ \ -\ original\ \(1586150\).png');
}

.logo_qr {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;
}

.muskihjalpen_img {
    width: 100%;
}

.QR_code {
    width: 100%;
}

.last_five_container {
    height: 50%;
}

.last_five {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.donation {
    padding: 20px 30px;
    display: flex;
    gap: 10px;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.donation > *, .donation {
    background-color: #2B3A55;
}

.donation_text {
    color: white;
    /* font-weight: bold; */
}

.QR_container {
    height: 50%;
}

.right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bar_container {
    display: flex;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.steps {
    width: 25%;
}

.goal {
    color: var(--darkBlue);
    font-size: 40px;
}

.bar_edge {
    display: flex;
    border: solid var(--darkBlue);
    width: 25%;
    flex-direction: column-reverse;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
}

.bar {
    /* background-color: #F6B2BB; */
    background-color: var(--darkBlue);
    border-radius: 6px;
    /* height: 50%; */
}

.current {
    width: 25%;
    display: flex;
    flex-direction: column-reverse;
}

#box {
    order: 1;
    width: 95%;
}

.current_number {
    color: var(--darkBlue);
    font-weight: bold;
    /* padding-right: 10px; */
}

#indicator {
    border-top: solid var(--darkBlue);
}

progress {
    width: 75%;
    height: 108px;
    transform: rotate(270deg);
    border-radius: 5px;
    margin: 0;
}